

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		
			<%= link_to 'D2Blogger', articles_path, class: "navbar-brand active" %>
		</div>
		
		<ul class="nav navbar-nav navbar-right">
			<li > <%= link_to 'Home', articles_path %> </li>
			<li> <a href="#"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
			<li> <a href="#"> <span class="glyphicon glyphicon-log-in"></span>Sign in</a></li>
		</ul>
	</div>
</nav>