<br />
<br />
<br />
<br />
<br />
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Home", articles_path, class: "active" %> </li>
        <li><a href="#section2">Friends</a></li>
        <li><a href="#section3">Family</a></li>
        <li><a href="#section3">Photos</a></li>
        <li><%= link_to "New Article", new_article_path %> </li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>