<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<%= render "nav" %>


<!--- Left section-->
	<div class="row content">
		<div class="col-xs-2 side">
		<%= render "side" %>
			</div>
		</div>		
		<!--- end section-->

		<!--- Mid section-->
		<div class="col-xs-8 middle">
			<h1 class="text-capitalize"> latest news </h1>
				<div class="table-responsive">
				  <table class="table">
				    <div class="panel panel-default">
						<%= render "list_articles" %>
					</div>
				  </table>
				</div>
			
		</div>
		<!-- end section -->


			<div class="col-xs-2 side"></div>		


			<div class="row content">
				<div class="col-xs-12 footer">
					<ul>
				</div>
			</div>

	</div>
</div>




</body>
</html>